@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Andada&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    width: 100%;
    /* width: 1200px; */
    flex-wrap: wrap;
}

.title{
    text-align: center;
    padding:20px 0px;
    background-color: #f1f1f1;
    border-bottom: 2px solid orange;
}

.title h1{
    font-family: 'Andada', serif;
    color:#fff;
    text-transform: uppercase;
    /* text-shadow: 1px 1px black,
                 -1px -1px black; */
}

.legends{
    display: flex;
    padding: 40px;
}

.legends:before{
    content:'';
    width: 100px;
    height: 150px;
    position: absolute;
    transform: rotate(30deg) translate(380px, -215px);
    background-color: #fff;
    z-index: 1000;
}

.legends h1{
    color:orange;
    text-shadow: 1px 1px 1px black;
}

.legends .img img{
    width: 100px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius:10%;
    margin-top:10px;
    border:5px solid #fff;
}

.legends .img{
    position: absolute;
    z-index: 1000;
}

.legends .desc .name{
    width: 400px;
    margin:3px;
    padding: 5px 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.legends .desc .prof{
    width: 400px;
    margin: 10px;
    margin-top: 1px;
    padding: 5px 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    color:rgba(0, 0, 0, .5);
}

.border{
    position: relative;
    margin-left:80px;
}

